In [ ]:
import pandas as pd

names = ['a', 'a', 'a', 'b', 'b', 'b']
values = [78, 79, 80, 78, 79, 80]

In [ ]:
comb_list = list(zip(names, values))
comb_list

In [ ]:
pd_df1 = pd.MultiIndex.from_tuples(comb_list)
pd_df1

In [ ]:
import numpy as np

In [ ]:
df_2 = pd.DataFrame(np.random.randn(6, 2), pd_df1, ['R1', 'R2'])

In [ ]:
df_2

In [ ]:
df_2.loc['a'].loc[79]

In [ ]:
df_2.index.names

In [ ]:
df_2.index.names = ['Category', 'Sequence']

In [ ]:
df_2

In [ ]:
df_2.loc['a'].loc[80]['R2']

In [ ]:
print(df_2.loc['a'])
print(df_2.xs('a')) #both are same in this case

In [ ]:
df_2.xs(78, level='Sequence') # it will detect all category of 78 in any group

Data Preprocessing

In [ ]:
targetData = {'P1':[1, np.nan, 5, np.nan, 3], 'P2':[3, 34, np.nan, np.nan,4], 'P3':[23, 12, 34, 23,7]}

In [ ]:
df_3 = pd.DataFrame(targetData)

In [ ]:
df_3

In [ ]:
df_3.dropna()

In [ ]:
df_3.dropna(axis = 1)

In [ ]:
df_3

In [ ]:
df_3.dropna(thresh=2) # it means that it will ignore from 0 to 2, if there have any NaN value

In [ ]:
type(df_3.loc[2]['P3'])

In [ ]:
df_3.fillna(value = 'Filled')

In [ ]:
df_3['P1'].fillna(value = df_3['P1'].median())

In [ ]:
data_4 = {
    'food':['Rice', 'Pizza', 'Rice', 'Chocolate', 'Sandwich', 'Chocolate'],
    'drinks':['Water', 'Milk', 'Juice', 'Cold drinks', 'Tea','Coffee'],
    'Combination Price':[3003, 5432, 5444, 7867, 1323, 2131]
}

In [ ]:
df_4 = pd.DataFrame(data_4)

In [ ]:
df_4

In [ ]:
group_by_food = df_4.groupby('food')

In [ ]:
mean_by_food = group_by_food['Combination Price'].mean()
mean_by_food

In [ ]:
mean_by_food = group_by_food['Combination Price'].std()
mean_by_food

In [ ]:
mean_by_food = group_by_food['Combination Price'].sum()
mean_by_food

In [ ]:
mean_by_food = group_by_food['Combination Price'].count()
mean_by_food

In [ ]:
mean_by_food = group_by_food['Combination Price'].min()
mean_by_food

In [ ]:
mean_by_food = group_by_food['Combination Price'].max()
mean_by_food

In [ ]:
mean_by_food = group_by_food.describe()
mean_by_food

In [ ]:
mean_by_food = group_by_food.describe().transpose()
mean_by_food

In [ ]:
df_4.groupby('food')['Combination Price'].sum()

In [ ]:
df_4.groupby('food')['Combination Price'].sum().loc['Rice']

In [ ]:
import numpy as np

In [ ]:
df_5 = pd.DataFrame(np.random.randn(4, 5), index=[1, 2, 3, 4], columns=['C1', 'C2', 'C3', 'C4', 'C5'])

In [ ]:
df_5

In [ ]:
df_6 = pd.DataFrame(np.random.randn(4, 5), index=[5, 6, 7, 8], columns=['C1', 'C2', 'C3', 'C4', 'C5'])
df_6

In [ ]:
df_7 = pd.DataFrame(np.random.randn(4, 5), index=[9, 10, 11, 12], columns=['C1', 'C2', 'C3', 'C4', 'C5'])
df_7

In [ ]:
pd.concat([df_5, df_6, df_7])

In [ ]:
pd.concat([df_7, df_5, df_6])

In [ ]:
pd.concat([df_5, df_6, df_7], axis = 1)

join data depend on key

In [ ]:
df_8 = pd.DataFrame({'Key':['w', 'x', 'p', 'z'], 'c1': [12, 32, 12, 43], 'c2': ['a', 'r', 't', 's']})
df_9 = pd.DataFrame({'Key':['w', 'x', 'q', 'z'], 'c3': [10, 20, 30, 40], 'c4': ['c', 'a', 'r', 't']})

In [ ]:
df_8

In [ ]:
df_9

In [ ]:
pd.merge(df_8, df_9, how = 'inner', on = 'Key')

In [ ]:
pd.merge(df_8, df_9, how = 'outer', on = 'Key')

In [ ]:
pd.merge(df_8, df_9, how = 'left', on = 'Key')

In [ ]:
pd.merge(df_8, df_9, how = 'right', on = 'Key')

## |Concept How to write query in pandas

In [ ]:
import pandas as pd
import pandasql as ps

data_4 = {
    'food': ['Rice', 'Pizza', 'Rice', 'Chocolate', 'Sandwich', 'Chocolate'],
    'drinks': ['Water', 'Milk', 'Juice', 'Cold drinks', 'Tea', 'Coffee'],
    'access_code': [3003, 5432, 5444, 7867, 1323, 2131]
}

df_4 = pd.DataFrame(data_4)

# Perform SQL-like operations using pandasql
query = """
    SELECT food, AVG(access_code) as avg_access_code
    FROM df_4
    GROUP BY food
"""

result_df = ps.sqldf(query, locals())

print(result_df)

In [ ]:
df['Column1'] = df['Column1'].replace('jhjre', 0)