In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('meterial\\Data Preprocessing Dummy Dataset - Sheet1.csv')

In [3]:
df

    Student ID       Age  Gender  Study Hours  Exam Score
0            1  18.00000    Male      4.50000     85.0000
1            2       NaN  Female      6.20000         NaN
2            3  19.00000    Male      3.50000     70.0000
3            4  22.00000  Female          NaN     98.0000
4            5  21.00000    Male      5.10000         NaN
..         ...       ...     ...          ...         ...
82          83  43.97742    Male     17.22436    -25.3614
83          84  44.28548  Female     17.37564    -26.7203
84          85  44.59355    Male     17.52692    -28.0792
85          86  44.90161     NaN     17.67821    -29.4381
86          87  45.20968    Male     17.82949    -30.7970

[87 rows x 5 columns]