In [110]:
import numpy as np
import pandas as pd

In [111]:
from numpy.random import randn

In [112]:
np.random.seed(111)

In [113]:
df = pd.DataFrame(randn(5, 4), ['A','B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [114]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [115]:
df['W']

A   -1.133838
B   -0.787534
C   -0.735523
D   -1.440585
E    0.492003
Name: W, dtype: float64

In [116]:
df.loc['A'] #to see dedicated row

W   -1.133838
X    0.384319
Y    1.496554
Z   -0.355382
Name: A, dtype: float64

In [117]:
df.iloc[1] # to see row using index

W   -0.787534
X   -0.459439
Y   -0.059169
Z   -0.354174
Name: B, dtype: float64

In [118]:
df[['W','X']]

          W         X
A -1.133838  0.384319
B -0.787534 -0.459439
C -0.735523 -1.183940
D -1.440585  0.773703
E  0.492003  0.424672

In [119]:
df['V'] = df['W'] + df['X']

In [120]:
df

          W         X         Y         Z         V
A -1.133838  0.384319  1.496554 -0.355382 -0.749519
B -0.787534 -0.459439 -0.059169 -0.354174 -1.246972
C -0.735523 -1.183940  0.238894 -0.589920 -1.919463
D -1.440585  0.773703 -1.027967 -0.090986 -0.666882
E  0.492003  0.424672  1.283049  0.315986  0.916675

In [121]:
df.drop('V', axis = 1)

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [122]:
df

          W         X         Y         Z         V
A -1.133838  0.384319  1.496554 -0.355382 -0.749519
B -0.787534 -0.459439 -0.059169 -0.354174 -1.246972
C -0.735523 -1.183940  0.238894 -0.589920 -1.919463
D -1.440585  0.773703 -1.027967 -0.090986 -0.666882
E  0.492003  0.424672  1.283049  0.315986  0.916675

In [123]:
df.drop('V', axis = 1, inplace= True)

In [124]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [125]:
df.iloc[2]

W   -0.735523
X   -1.183940
Y    0.238894
Z   -0.589920
Name: C, dtype: float64

In [126]:
df.loc['A']

W   -1.133838
X    0.384319
Y    1.496554
Z   -0.355382
Name: A, dtype: float64

In [127]:
df.shape

(5, 4)

In [128]:
df.loc[['A', 'B'], ['X', 'Y']]

          X         Y
A  0.384319  1.496554
B -0.459439 -0.059169

In [129]:
#conditional selection
dfstate = df > 0

In [130]:
dfstate

       W      X      Y      Z
A  False   True   True  False
B  False  False  False  False
C  False  False   True  False
D  False   True  False  False
E   True   True   True   True

In [131]:
df[dfstate] # it only provide those value whose are true

          W         X         Y         Z
A       NaN  0.384319  1.496554       NaN
B       NaN       NaN       NaN       NaN
C       NaN       NaN  0.238894       NaN
D       NaN  0.773703       NaN       NaN
E  0.492003  0.424672  1.283049  0.315986

In [132]:
df[df > 0]

          W         X         Y         Z
A       NaN  0.384319  1.496554       NaN
B       NaN       NaN       NaN       NaN
C       NaN       NaN  0.238894       NaN
D       NaN  0.773703       NaN       NaN
E  0.492003  0.424672  1.283049  0.315986

In [133]:
df['W'] > 0

A    False
B    False
C    False
D    False
E     True
Name: W, dtype: bool

In [134]:
df[df['W']>0]

          W         X         Y         Z
E  0.492003  0.424672  1.283049  0.315986

In [135]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [136]:
df[df['Z'] < 0]

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986

In [137]:
df[df['Z']> 0]['X']

E    0.424672
Name: X, dtype: float64

In [138]:
df[df['Z']> 0][['X', 'Y']]

          X         Y
E  0.424672  1.283049

In [139]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [140]:
df[(df['W'] > 0) & (df['X'] < 0)]

# but it gives error
# df[(df['W'] > 0) and (df['X'] < 0)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [141]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

Reset index to default

In [142]:
df.reset_index() # temporarly

  index         W         X         Y         Z
0     A -1.133838  0.384319  1.496554 -0.355382
1     B -0.787534 -0.459439 -0.059169 -0.354174
2     C -0.735523 -1.183940  0.238894 -0.589920
3     D -1.440585  0.773703 -1.027967 -0.090986
4     E  0.492003  0.424672  1.283049  0.315986

In [143]:
df

          W         X         Y         Z
A -1.133838  0.384319  1.496554 -0.355382
B -0.787534 -0.459439 -0.059169 -0.354174
C -0.735523 -1.183940  0.238894 -0.589920
D -1.440585  0.773703 -1.027967 -0.090986
E  0.492003  0.424672  1.283049  0.315986

In [146]:
df.reset_index(inplace=True)

In [147]:
df

  index         W         X         Y         Z
0     A -1.133838  0.384319  1.496554 -0.355382
1     B -0.787534 -0.459439 -0.059169 -0.354174
2     C -0.735523 -1.183940  0.238894 -0.589920
3     D -1.440585  0.773703 -1.027967 -0.090986
4     E  0.492003  0.424672  1.283049  0.315986

In [148]:
news_set = "ra br se se dd".split()
df['V'] = news_set #assing a new column with value

In [149]:
df

  index         W         X         Y         Z   V
0     A -1.133838  0.384319  1.496554 -0.355382  ra
1     B -0.787534 -0.459439 -0.059169 -0.354174  br
2     C -0.735523 -1.183940  0.238894 -0.589920  se
3     D -1.440585  0.773703 -1.027967 -0.090986  se
4     E  0.492003  0.424672  1.283049  0.315986  dd

In [150]:
df.set_index('V')

   index         W         X         Y         Z
V
ra     A -1.133838  0.384319  1.496554 -0.355382
br     B -0.787534 -0.459439 -0.059169 -0.354174
se     C -0.735523 -1.183940  0.238894 -0.589920
se     D -1.440585  0.773703 -1.027967 -0.090986
dd     E  0.492003  0.424672  1.283049  0.315986

In [151]:
df

  index         W         X         Y         Z   V
0     A -1.133838  0.384319  1.496554 -0.355382  ra
1     B -0.787534 -0.459439 -0.059169 -0.354174  br
2     C -0.735523 -1.183940  0.238894 -0.589920  se
3     D -1.440585  0.773703 -1.027967 -0.090986  se
4     E  0.492003  0.424672  1.283049  0.315986  dd

In [152]:
df.set_index('index')

              W         X         Y         Z   V
index
A     -1.133838  0.384319  1.496554 -0.355382  ra
B     -0.787534 -0.459439 -0.059169 -0.354174  br
C     -0.735523 -1.183940  0.238894 -0.589920  se
D     -1.440585  0.773703 -1.027967 -0.090986  se
E      0.492003  0.424672  1.283049  0.315986  dd

In [153]:
df

  index         W         X         Y         Z   V
0     A -1.133838  0.384319  1.496554 -0.355382  ra
1     B -0.787534 -0.459439 -0.059169 -0.354174  br
2     C -0.735523 -1.183940  0.238894 -0.589920  se
3     D -1.440585  0.773703 -1.027967 -0.090986  se
4     E  0.492003  0.424672  1.283049  0.315986  dd

In [154]:
df.set_index('index', inplace=True)

In [181]:
names = "rimi sujon nita rimi limon".split()
age = [23, 54, 13, 6, 67, 78, 12]
session = "A B C D E F".split()
name_age_combo = list(zip(names, age, session))

In [182]:
name_age_combo

[('rimi', 23, 'A'),
 ('sujon', 54, 'B'),
 ('nita', 13, 'C'),
 ('rimi', 6, 'D'),
 ('limon', 67, 'E')]

In [183]:
name_age_combo[1]

('sujon', 54, 'B')

In [184]:
multi = pd.MultiIndex.from_tuples(name_age_combo)

In [185]:
df = pd.DataFrame(randn(5, 2), multi, ['A', 'B'])

In [186]:
df

                   A         B
rimi  23 A  2.597164 -0.058266
sujon 54 B -0.945287  0.541172
nita  13 C -0.055009  1.120021
rimi  6  D -0.191643 -0.610138
limon 67 E -0.444579 -2.204009

In [168]:
name_age_combo[1][2] = 'V'

In [188]:
df.index.names = "name age id".split()
df

                     A         B
name  age id
rimi  23  A   2.597164 -0.058266
sujon 54  B  -0.945287  0.541172
nita  13  C  -0.055009  1.120021
rimi  6   D  -0.191643 -0.610138
limon 67  E  -0.444579 -2.204009

In [196]:
# df.loc[['rimi', 23]]['A']#not work
df.loc['rimi'].loc[23]['B'] # way to access multilabel index

id
A   -0.058266
Name: B, dtype: float64

In [197]:
df.xs('rimi')

               A         B
age id
23  A   2.597164 -0.058266
6   D  -0.191643 -0.610138

In [203]:
df.xs(23, level= 'age')

                A         B
name id
rimi A   2.597164 -0.058266

In [169]:
name_age_combo

[('rimi', 23, 'A'),
 ['sumon', 12, 'V'],
 ('nita', 13, 'C'),
 ('sumon', 6, 'D'),
 ('limon', 67, 'E')]