In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.read_csv('meterial\\example.csv')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
pd.read_html("meterial\\simple.html")

[    a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15]

In [5]:
df = pd.read_excel('meterial\\my_excel_file.xlsx', sheet_name='First_Sheet')

In [6]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [8]:
df.to_excel("check.xlsx", index= False)

In [10]:
df = pd.read_excel('check.xlsx')

In [11]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15