In [2]:
import pandas as pd
import numpy as np

In [7]:
all = {'Name' : ['Nexa', np.nan, 'Fix'], 'Year' : [23, 45, 12], 'gender' : [True, False, np.nan]}

In [8]:
all

{'Name': ['Nexa', nan, 'Fix'],
 'Year': [23, 45, 12],
 'gender': [True, False, nan]}

In [9]:
data_frame_example = pd.DataFrame(all)

In [10]:
data_frame_example

   Name  Year gender
0  Nexa    23   True
1   NaN    45  False
2   Fix    12    NaN

In [12]:
data_frame_example.dropna()

   Name  Year gender
0  Nexa    23   True

In [13]:
data_frame_example

   Name  Year gender
0  Nexa    23   True
1   NaN    45  False
2   Fix    12    NaN

In [14]:
data_frame_example.dropna(axis= 1) #it will drop column

   Year
0    23
1    45
2    12

In [18]:
data_frame_example

   Name  Year gender
0  Nexa    23   True
1   NaN    45  False
2   Fix    12    NaN

In [21]:
data_frame_example.dropna(axis = 1, thresh= 13)

Empty DataFrame
Columns: []
Index: [0, 1, 2]

In [22]:
data_frame_example.fillna(value= -1 ) #it will fill none value with given value

   Name  Year gender
0  Nexa    23   True
1    -1    45  False
2   Fix    12     -1

In [25]:
data_frame_example['Name'].fillna(value = 'Not given')

0         Nexa
1    Not given
2          Fix
Name: Name, dtype: object

In [33]:
data_frame_example.loc[2].fillna(value = -10)

Name      Fix
Year       12
gender    -10
Name: 2, dtype: object

In [35]:
data_frame_example['gender'].fillna(value= data_frame_example['Year'].max())

0     True
1    False
2       45
Name: gender, dtype: object

In [36]:
data_frame_example

   Name  Year gender
0  Nexa    23   True
1   NaN    45  False
2   Fix    12    NaN

In [48]:
target = {'Name': ['Risi', 'Sumit', 'Khan', 'Rihan', 'Mili', 'Sila'], 'age':[12, 43, 12, 43, 12, 3], 'Total Mark': [324, 212, 543, 121, 453, 231]}

In [49]:
datas = pd.DataFrame(target)

In [50]:
datas

    Name  age  Total Mark
0   Risi   12         324
1  Sumit   43         212
2   Khan   12         543
3  Rihan   43         121
4   Mili   12         453
5   Sila    3         231

In [54]:
groupbyage = datas.groupby('age')

In [55]:
groupbyage

In [59]:
groupbyage['Total Mark'].mean()

age
3     231.0
12    440.0
43    166.5
Name: Total Mark, dtype: float64

In [60]:
groupbyage['Total Mark'].sum()

age
3      231
12    1320
43     333
Name: Total Mark, dtype: int64

In [61]:
groupbyage['Total Mark'].sum().loc[12]

1320

In [67]:
groupbyage['Total Mark'].count()

age
3     1
12    3
43    2
Name: Total Mark, dtype: int64

In [72]:
datas.groupby['age'].sum()

TypeError: 'method' object is not subscriptable

In [68]:
groupbyage.describe()

    Total Mark
         count   mean         std    min     25%    50%     75%    max
age
3          1.0  231.0         NaN  231.0  231.00  231.0  231.00  231.0
12         3.0  440.0  110.077246  324.0  388.50  453.0  498.00  543.0
43         2.0  166.5   64.346717  121.0  143.75  166.5  189.25  212.0

In [70]:
datas.groupby('age').describe()

    Total Mark
         count   mean         std    min     25%    50%     75%    max
age
3          1.0  231.0         NaN  231.0  231.00  231.0  231.00  231.0
12         3.0  440.0  110.077246  324.0  388.50  453.0  498.00  543.0
43         2.0  166.5   64.346717  121.0  143.75  166.5  189.25  212.0

Marge Join and concat

In [83]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3', 'A4'],
    'B': ['B0', 'B1', 'B2', 'B3', 'B4'],
    'C': ['C0', 'C1', 'C2', 'C3', 'C4'],
    'D': ['D0', 'D1', 'D2', 'D3', 'D4']},
    index = [0, 1, 2, 3, 4]
)

In [84]:
df2 = pd.DataFrame({
    'A': ['A5', 'A6', 'A7', 'A8', 'A9'],
    'B': ['B5', 'B6', 'B7', 'B8', 'B9'],
    'C': ['C5', 'C6', 'C7', 'C8', 'C9'],
    'D': ['D5', 'D6', 'D7', 'D8', 'D9']},
    index = [5, 6, 7, 8, 9]
)

In [85]:
df3 = pd.DataFrame({
    'A': ['A10', 'A11', 'A12', 'A13', 'A14'],
    'B': ['B10', 'B11', 'B12', 'B13', 'B14'],
    'C': ['C10', 'C11', 'C12', 'C13', 'C14'],
    'D': ['D10', 'D11', 'D12', 'D13', 'D14']},
    index = [10, 11, 12, 13, 14]
)

In [86]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [87]:
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12
13  A13  B13  C13  D13
14  A14  B14  C14  D14

In [88]:
pd.concat([df1, df2, df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    A4   B4   C4   D4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN   A8   B8   C8   D8  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN   A9   B9   C9   D9  NaN  NaN  NaN  NaN
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A12  B12  C12  D12
13  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A13  B13  C13  D13
14  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A14  B14  C14  D14

In [95]:
left = pd.DataFrame({
    'key' : 'k0 k1 k2 k3'.split(),
    'A' : 'A0 A1 A2 A3'.split(),
    'B' : 'B0 B1 B2 B3'.split()
})
right = pd.DataFrame({
    'key' : 'k0 k0 k2 k4'.split(),
    'C' : 'C0 C1 C2 C3'.split(),
    'D' : 'D0 D1 D2 D3'.split()
})

In [96]:
pd.merge(left, right, how='inner', on = 'key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k0  A0  B0  C1  D1
2  k2  A2  B2  C2  D2

In [97]:
pd.merge(left, right, how='left', on = 'key')

  key   A   B    C    D
0  k0  A0  B0   C0   D0
1  k0  A0  B0   C1   D1
2  k1  A1  B1  NaN  NaN
3  k2  A2  B2   C2   D2
4  k3  A3  B3  NaN  NaN

In [98]:
pd.merge(left, right, how='right', on = 'key')

  key    A    B   C   D
0  k0   A0   B0  C0  D0
1  k0   A0   B0  C1  D1
2  k2   A2   B2  C2  D2
3  k4  NaN  NaN  C3  D3

In [99]:
pd.merge(left, right, how='outer', on = 'key')

  key    A    B    C    D
0  k0   A0   B0   C0   D0
1  k0   A0   B0   C1   D1
2  k1   A1   B1  NaN  NaN
3  k2   A2   B2   C2   D2
4  k3   A3   B3  NaN  NaN
5  k4  NaN  NaN   C3   D3

In [100]:
left.join(right)

ValueError: columns overlap but no suffix specified: Index(['key'], dtype='object')

In [131]:
leftd = pd.DataFrame({
    'keyf' : ['k0', 'k1','k2','k3'],
    'A' : 'A0 A1 A2 A3'.split(),
    'B' : 'B0 B1 B2 B3'.split()},
    index = ['first','second','third','forth'])
rightd = pd.DataFrame({
    'keys' : ['k0', 'k1','k2','k3'],
    'C' : 'C0 C1 C2 C3'.split(),
    'D' : 'D0 D1 D2 D3'.split()},
    index = ['first','second','fifth','sixth'])

In [132]:
leftd.join(rightd)

       keyf   A   B keys    C    D
first    k0  A0  B0   k0   C0   D0
second   k1  A1  B1   k1   C1   D1
third    k2  A2  B2  NaN  NaN  NaN
forth    k3  A3  B3  NaN  NaN  NaN

In [135]:
leftd.join(rightd, how= 'left')

       keyf   A   B keys    C    D
first    k0  A0  B0   k0   C0   D0
second   k1  A1  B1   k1   C1   D1
third    k2  A2  B2  NaN  NaN  NaN
forth    k3  A3  B3  NaN  NaN  NaN

In [109]:
rightd

       key   C   D
first   k0  C0  D0
second  k0  C1  D1
third   k2  C2  D2
forth   k4  C3  D3

In [136]:
left

  key   A   B
0  k0  A0  B0
1  k1  A1  B1
2  k2  A2  B2
3  k3  A3  B3

In [137]:
left['A'].unique()

array(['A0', 'A1', 'A2', 'A3'], dtype=object)

In [138]:
left['A'].value_counts()

A
A0    1
A1    1
A2    1
A3    1
Name: count, dtype: int64

In [139]:
def string_docomentation(x):
    return '!!!' + str(x) + '!!!'

In [140]:
left['B'].apply(string_docomentation)

0    !!!B0!!!
1    !!!B1!!!
2    !!!B2!!!
3    !!!B3!!!
Name: B, dtype: object

In [141]:
left['B'].apply(lambda  x : x + '!!!')

0    B0!!!
1    B1!!!
2    B2!!!
3    B3!!!
Name: B, dtype: object

In [142]:
datas.sort_values('age')

    Name  age  Total Mark
5   Sila    3         231
0   Risi   12         324
2   Khan   12         543
4   Mili   12         453
1  Sumit   43         212
3  Rihan   43         121

In [144]:
datas.pivot_table

<bound method DataFrame.pivot_table of     Name  age  Total Mark
0   Risi   12         324
1  Sumit   43         212
2   Khan   12         543
3  Rihan   43         121
4   Mili   12         453
5   Sila    3         231>