In [1]:
import numpy as np
import pandas as pd

In [2]:
names_1 = ['q1', 'q2', 'q3']
data_1 = [10, 20, 30]

In [3]:
array_1 = np.array(data_1)
array_1

array([10, 20, 30])

In [4]:
dic_1 = {'set1':[12, 13, 14], 'set2':[22, 23, 24], 'set3':[32, 33, 34]}
dic_2 = {'p':12, 'q':13, 'r':14}

In [5]:
pd_example_1 = pd.Series(data = dic_2)
pd_example_1

p    12
q    13
r    14
dtype: int64

In [6]:
pd_example_1 = pd.Series(data = dic_1)
pd_example_1

set1    [12, 13, 14]
set2    [22, 23, 24]
set3    [32, 33, 34]
dtype: object

In [9]:
pd_series1 = pd.Series(data=data_1, index= names_1)

In [10]:
pd_series2 = pd.Series(data=data_1)

In [11]:
print(pd_series1)

q1    10
q2    20
q3    30
dtype: int64

In [20]:
pd_serise3 = pd.Series([1123, 4343, 1231, 1156], ['dhaka', 'chattagram', 'rajsahi', 'cummilla'])
pd_serise3_1 = pd.Series([111, 312, 42, 1], ['chattagram', 'khulna', 'rajsahi', 'dhaka'])

pd_serise3

dhaka         1123
chattagram    4343
rajsahi       1231
cummilla      1156
dtype: int64

In [21]:
pd_serise3 + pd_serise3_1

chattagram    4454.0
cummilla         NaN
dhaka         1124.0
khulna           NaN
rajsahi       1273.0
dtype: float64

In [13]:
pd_serise3['dhaka']

1123

In [19]:
pd_serise3[1]

4343

In [15]:
pd_series4 = pd.Series(data = data_1)
pd_series4

0    10
1    20
2    30
dtype: int64

In [16]:
pd_series4[0]

10

dataframe is the main tools to work with pandas

In [26]:
df = pd.DataFrame(np.random.randn(5, 4), index= ['i1', 'i2', 'i3', 'i4', 'i5'], columns= ['c1', 'c2', 'c3', 'c4'])
df

          c1        c2        c3        c4
i1  1.221216  1.014989  0.828130  2.266293
i2 -0.594956 -0.581270 -0.655894  0.925149
i3 -1.299161  1.011167 -0.288440 -1.067713
i4 -1.077601 -0.796774 -1.486043  0.514129
i5  0.851791  0.958673 -0.626484  0.307931

In [27]:
df['c1']

i1    1.221216
i2   -0.594956
i3   -1.299161
i4   -1.077601
i5    0.851791
Name: c1, dtype: float64

In [28]:
type(df['c1'])

pandas.core.series.Series

In [29]:
df.c1

i1    1.221216
i2   -0.594956
i3   -1.299161
i4   -1.077601
i5    0.851791
Name: c1, dtype: float64

In [30]:
df[['c1', 'c2']] # to see multiple column have to give a list of column name

          c1        c2
i1  1.221216  1.014989
i2 -0.594956 -0.581270
i3 -1.299161  1.011167
i4 -1.077601 -0.796774
i5  0.851791  0.958673

In [31]:
df['temp'] = df['c1'] + df['c2']

In [32]:
df

          c1        c2        c3        c4      temp
i1  1.221216  1.014989  0.828130  2.266293  2.236204
i2 -0.594956 -0.581270 -0.655894  0.925149 -1.176225
i3 -1.299161  1.011167 -0.288440 -1.067713 -0.287994
i4 -1.077601 -0.796774 -1.486043  0.514129 -1.874375
i5  0.851791  0.958673 -0.626484  0.307931  1.810464

In [33]:
df.drop('temp')

KeyError: "['temp'] not found in axis"

In [34]:
df.drop('temp', axis= 1)

          c1        c2        c3        c4
i1  1.221216  1.014989  0.828130  2.266293
i2 -0.594956 -0.581270 -0.655894  0.925149
i3 -1.299161  1.011167 -0.288440 -1.067713
i4 -1.077601 -0.796774 -1.486043  0.514129
i5  0.851791  0.958673 -0.626484  0.307931

In [35]:
df

          c1        c2        c3        c4      temp
i1  1.221216  1.014989  0.828130  2.266293  2.236204
i2 -0.594956 -0.581270 -0.655894  0.925149 -1.176225
i3 -1.299161  1.011167 -0.288440 -1.067713 -0.287994
i4 -1.077601 -0.796774 -1.486043  0.514129 -1.874375
i5  0.851791  0.958673 -0.626484  0.307931  1.810464